body {
  margin: 0;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}
/* .container {
  border: 2px solid red;
}


/* .image-box {
  border: 2px solid red;
} */
.image-box img {
  width: 250px;
  padding: 20px;
}
.card {
  margin-top: 65px;
  background-color: antiquewhite;
  border-bottom: 10px solid rgb(0, 0, 0);
}
.nav {
  border-bottom: 10px solid yellow;
}
.read {
  margin-top: 32px;
  background: linear-gradient(90deg, #d533b2 0%, #daae51 100%);
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 2px 2px #fff;
}

.ecell {
  color: antiquewhite;
  text-shadow: 5px 5px 2px #333;
}
.paper {
  background: url("./components/ivan-gromov-Y3vPEuNlf7w-unsplash.jpg");
  font-family: "Shadows Into Light Two", cursive;
  border: 5px dashed #333;
  box-shadow: 0px 0px 20px #333;
  z-index: 1000000;
}
.paper-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.date-time {
  color: darkgreen;
  text-shadow: 0px 2px 0px #333;
}
.icon-1 {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}
.icon-1 img {
  border-bottom-left-radius: 50%;
}
.icon-2 {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 32%;
  opacity: 0.2;

  z-index: -1;
}
.icon-2 img {
  overflow: hidden;
}
.venue {
  align-items: center;
  border-top-color: #3f5efb !important;
  border-left-color: #3f5efb !important;
  border-bottom-color: #fc466b !important;
  border-right-color: #fc466b !important;
  border: 5px dashed;
}
